@tailwind base;
@tailwind components;
@tailwind utilities;

body 
{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:black;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading{
  background: linear-gradient(to right, #FFFFFF 10%, #27A5EF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hexagon{
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  filter:url(#round);
  border-color: #21539E;
}
